.header-wrapper {
  width: 100%;
}

.header-container {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.header-main {
  color: #21b6b7;
  font-size: 60px;
  font-weight: 800;
}

.header-sub {
  color: #b3c5cd;
  font-weight: 600;
}
